@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: linear-gradient(to right, #ec8db5, #b259a4, #a64fa1);
	min-height: 100vh;
	overflow-x: hidden;
	height: 100%;
}

header {
	margin-top: 10px;
	position: absolute;
	width: 100%;
	height: 80px;
	display: flex;
	background: none;
	align-items: center;
	justify-content: space-between;
	padding: 0 100px;
	z-index: 100;
}

.logo {
	margin-left: 25px;
	font-size: 28px;
	font-weight: 750;
	color: #491551;
}

.hamburger {
	display: none;
}

.navbar ul {
	display: flex;
}

.navbar ul li a {
	display: block;
	color: #fff;
	font-size: 16px;
	padding: 6px 15px;
	border-radius: 50px;
	margin: 0 5px;
	font-style: none;
	font-weight: 600;
	text-decoration: none;
}

.navbar ul li a:hover {
	color: #fff;
	background: #491551;
}

.navbar ul li a.active {
	color: #fff;
	background: #491551;
}

.cta {
	background: #ec8db5;
}

@media only screen and (max-width: 1320px) {
	header {
		padding: 0 50px;
	}
}

@media only screen and (max-width: 1100px) {
	header {
		padding: 0 30px;
	}
}

@media only screen and (max-width: 900px) {
	.hamburger {
		display: block;
		cursor: pointer;
	}
	.hamburger .line {
		width: 30px;
		height: 3px;
		background: #fff;
		margin: 6px 0;
		border-radius: 20px;
	}
	.navbar {
		height: 0;
		position: absolute;
		background: #b259a4;
		top: 80px;
		left: 0;
		right: 0;
		width: 100vw;
		transition: 0.2s;
		overflow: hidden;
	}
	.navbar.active {
		height: 400px;
		width: 100%;
	}
	.navbar ul {
		display: block;
		width: fit-content;
		margin: 80px auto 0 auto;
		text-align: center;
		opacity: 0;
	}
	.navbar.active ul {
		opacity: 1;
	}
	.navbar ul li a {
		margin-bottom: 12px;
	}
}

.sec h2 {
	padding-top: 120px;
	margin-bottom: 30px;
	font-size: 3em;
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
}

.searchbar {
	margin-left: 95px;
	margin-right: 95px;
	width: 100%;
	background: rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: center;
	border-radius: 60px;
	padding: 10px 20px;
}

.searchbar input {
	background: transparent;
	flex: 1;
	border: 0;
	outline: none;
	padding: 10px 20px;
	font-size: 18px;
	color: #fff;
}

::placeholder {
	color: #fff;
}

.searchbar button img {
	padding-top: 3px;
	width: 20px;
}

.searchbar button {
	border: 0;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: #ec8db5;
	cursor: pointer;
}

.matkul {
	margin-left: 75px;
	margin-right: 75px;
	margin-bottom: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 100%;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container .box {
	position: relative;
	width: 1200px;
	padding: 20px;
	padding-left: 50px;
	background: #491551;
	border-radius: 5px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	box-sizing: border-box;
	overflow: hidden;
	justify-content: center;
	text-align: left;
}

.container .box a {
	text-decoration: none;
	position: relative;
	z-index: 1;
	transition: 0.5s;
	color: #fff;
	font-weight: 600;
	font-size: 22px;
}

.container .box:hover a {
	color: #491551;
	font-weight: 600;
}

.container .box:hover {
	background: whitesmoke;
}
.empty h4 {
	margin-top: 50px;
	text-align: center;
	color: #fff;
	font-weight: 500;
}
